doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Data User
    body 
    // Write object keys not values.
       
        p Name #{userinfo.username}
        p Div #{userinfo.division}
        p Sub #{userinfo.subject}
        p Email #{userinfo.email}
    