doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Student
    body 

        p Name: #{studentData.name}
        p Email: #{studentData.email}
        p Course: #{studentData.course}