doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F4
  body 
    form(action="/login", method="post")
      input(type="text", name="name",placeholder="Name")
      input(type="text", name="division",placeholder="Div")
      input(type="email", name="email",placeholder="Email")
      p
        input(type="radio", name="subject", value="FSD") 
        | FSD
        input(type="radio", name="subject", value="DM") 
        | DM
        input(type="radio", name="subject", value="COA") 
        | COA
        input(type="radio", name="subject", value="Python") 
        | Python
      input(type="submit", value="Submit")
